<div class="col-md-8 col-md-offset-2 text-center">
  <h3><%= @job.title %></h3>
  <hr>
  <br><br>
  <p><%= simple_format(@job.description) %></p>
  <div class="" style="margin-top:100px">
    <h2><%= link_to("投递简历", new_job_resume_path(@job),style: "text-decorition: none;") %></h2>
  </div>

</div>
