<div class="row">
<div class="index">
  <h1 class="title">实现自我，从这里开始</h1>
  <p class="second-title">我们为您提供施展才华的平台，提供体面的offer，共创美好事业，只等你来！</p>
  <p class="action"><%= link_to("马上应征", jobs_path, :class => "btn btn-danger") %></p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 thumbnail">
      <i class="fa fa-map-marker"></i>
      <p> 河南省信阳市商城县 </p>
    </div>
    <div class="col-md-4 thumbnail">
      <i class="fa fa-envelope-open"></i>
      <p> leichaofan2024@gmail.com </p>
    </div>
    <div class="col-md-4 thumbnail">
      <i class="fa fa-phone"></i>
      <p> 18335819098</p>
    </div>
  </div>
</div>

</div>
