<div class="col-md-10">
<table class="table table-boldered">
  <thead>
    <tr>
      <th>职缺</th>
      <th>薪资下限</th>
      <th>薪资上限</th>
      <th>联系方式</th>
      <th>发布时间<</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "jobitem", :collection => @jobs, :as => :job %>
  </tbody>
</table>
</div>
